@model CricketTeam_Assignment.Models.TeamMembers

@{
    ViewBag.Title = "PlayerIndex";
}

<h2>Player Index</h2>

<p>
    @*Welcome : @ViewBag.Username [@ViewBag.Role]*@
    @*@Html.ActionLink("Create New", "Create")*@

</p>
<div class="container">
    <div class="text-center text-success">
        <h1>@ViewBag.Message</h1> 
    </div>
</div>

